body {
    background: url(../img/nyc.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
}

.nav {
    width: 100%;
    margin: 3em 0 0;
    display: inline-block;
    background: rgba(255, 255, 255, .7);
    padding: 10px;
}

.nav_list {
    list-style-type: none;

}

.nav_list li {
    padding: 10px;
    display: inline;
}

.nav_list a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;

}

.nav_list a:hover {
    background: rgb(200, 200, 200);
    border-radius: 5%;

}

.nav_list li:nth-child(1) a {
    color: crimson;
}
